{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Yaret</h1>
    </div>

    <div class="col-4">
        <img src="  assets/img/images.jpeg" class="img-thumbnail">
    </div>
</div>
{{> footer}}